extends layout

block content

  //- var about = sections.filter(function (section) { return section.sys.id === "2UYfZhGTLqO662Y4qmuIEc"; })[0].fields;
  
  - var currentYear = (new Date()).getFullYear();
  - var startYear = 2007;
  - var eventsYearRange = []; while (startYear++ < (currentYear+1)) eventsYearRange.push(startYear);
  - var eventsYearRangeReverse = eventsYearRange.slice(0); eventsYearRangeReverse.reverse().shift();

  - var eventsInCurrentYear = events.filter(function (event) { return event.fields.date.slice(0,4) == currentYear })
  - var eventsInPreviousYear = events.filter(function (event) { return event.fields.date.slice(0,4) == (currentYear-1) })
  - var eventsInNextYear = events.filter(function (event) { return event.fields.date.slice(0,4) == (currentYear+1) })

  - var monthName = ['Jan.', 'Feb.', 'Mar.', 'Apr.', 'May', 'June', 'July', 'Aug.', 'Sep.', 'Oct.', 'Nov.', 'Dec.']

  - function formatDate(fields) {
    - if (fields.multipleDates)
      - return fields.multipleDates
    - else
      - var [year, month, day] = fields.date.split('-')
      - return monthName[Number(month)-1] + ' ' + parseInt(day) + ', ' + year
  - }

  mixin renderEvents(eventsList)
    each event in eventsList
      .event.drawer.drawerClosed
        .eventHead
          span.eventDate #{formatDate(event.fields)}
          .eventHeadline
            if event.fields.location
              .eventName #{event.fields.name} • #{event.fields.location}
            else
              .eventName #{event.fields.name}
            if event.fields.ensemble
              .eventEnsemble #{event.fields.ensemble}
          .drawerToggle
        .eventDetails.drawerContents!= md(event.fields.description.replace(/(^|[^\n])\n(?!\n)/g, "$1<br />") || "")
          if event.fields.url
            p
              a(href='#{event.fields.url}') Learn more

  //- section#news
  //-   h2.sectionName News
  //-   .flex
  //-     each newsItem in news
  //-       .newsItem
  //-         h3 #{formatDate(newsItem.fields)}
  //-         p #{newsItem.fields.description}

  section#about
    h2.sectionName About
    .flex
      div.drawerContents
        p Brad Lubman, conductor/composer, is one of the foremost conductors of modern music and a leading figure in the field for over two decades. A frequent guest conductor of the world’s most distinguished orchestras and new music ensembles, he has gained widespread recognition for his versatility, commanding technique, and insightful interpretations. His flexibility in a variety of settings has led him to conduct a broad range of repertoire from classical to contemporary works, and to direct projects including orchestra, opera, multimedia, and mixed ensemble. Lubman has led major orchestras including the Bavarian Radio Symphony Orchestra, Royal Concertgebouw Orchestra, Los Angeles Philharmonic, San Francisco Symphony, Danish National Symphony, NDR Symphony Orchestra Hamburg, DSO Berlin, SWR Sinfonieorchester, WDR Symphony Cologne, Orchestre Philharmonique de Radio France, Finnish Radio Symphony, and the Netherlands Radio Philharmonic Orchestra.

        p In addition, he has worked with some of the most important European and American ensembles for contemporary music, including Ensemble Modern, London Sinfonietta, Klangforum Wien, Musik Fabrik, Ensemble Resonanz, and Steve Reich and Musicians. Lubman has conducted at new-music festivals across Europe, including those in Lucerne, Salzburg, Berlin, Huddersfield, Paris, Cologne, Frankfurt, and Oslo.

        p Lubman is founding Co-Artistic and Music Director of the NY-based Ensemble Signal. Since its debut in 2008, the Ensemble has performed over 300 concerts and co-produced ten recordings. Their recording of Reich’s #[em Music for 18 Musicians] on harmonia mundi was awarded a Diapason d’or in June 2015 and appeared on the Billboard Classical crossover charts.

        p Lubman has been particularly noted for his ability to quickly master challenging scores in a variety of settings, a skill honed between 1989-94, when he was assistant to Oliver Knussen at Tanglewood. Lubman has conducted numerous world premieres. Among these are Steve Reich’s #[em Three Tales, Reich/Richter, Runner, Daniel Variations, Radio Rewrite,] and #[em Variations for Vibes, Pianos and Strings.] Additional world premieres given by Lubman include Helmut Lachenmann’s #[em Concertini] and Michael Gordon/David Lang/Julia Wolfe’s #[em Shelter,] as well as works by Philip Glass, Brian Ferneyhough, Charles Wuorinen, John Zorn, and Hilda Paredes.

        p Lubman was the 2017 Composer in Residence at the Grafenegg Festival in Austria in his dual role as conductor and composer in residence; a highlight of his residency was a performance with the Tonkünstler Orchestra Austria, where he led works by Brahms and Mahler as well as the world premiere of his own #[em Reflections] for orchestra. His recent work Tangents was commissioned by the LA Philharmonic and premiered at Walt Disney Concert Hall. In Spring 2020, Rudolf Buchbinder will premiere a new work for solo piano by Lubman at the Vienna Musikverein as part of a project including 11 contemporary composers each writing their own variations on Diabelli’s theme – which Buchbinder will also record for Deutsche Gramaphon and perform live on tour in 2020.

        p Brad Lubman is on faculty at the Eastman School of Music and the Bang on a Can Summer Institute.

      //- div.drawerContents!= md(about.text)
      
      .sidebar
        .socialButtons
          a(href='https://www.instagram.com/bradlubman')
            img(src='images/icon-instagram.png')
          a(href='https://open.spotify.com/artist/48L7jI4tb5zi989IWlLGCS')
            img(src='images/icon-spotify.png')
          a(href='https://itunes.apple.com/us/artist/brad-lubman/75054416')
            img(src='images/icon-applemusic.png')
        //- a(href='https://open.spotify.com/artist/48L7jI4tb5zi989IWlLGCS')
        //-   img(src='/images/mixtape.svg' style='margin-bottom: 10px; width: 100%;')
        //- span(style='display: initial; font-size: 12px; line-height: 1.3; text-transform: uppercase;')
        //-   a(href='https://open.spotify.com/artist/48L7jI4tb5zi989IWlLGCS') Occasional mixtapes made by Brad →

  section#events
    h2.sectionName Events
    .eventsContainer
      each year in eventsYearRange
        div(id='eventSpan-' + year)
          case year
            when (currentYear + 1)
              +renderEvents(eventsInNextYear)
            when (currentYear)
              +renderEvents(eventsInCurrentYear)
            when (currentYear - 1)
              +renderEvents(eventsInPreviousYear)
    //- h3.placeholder#pastEvents Past events
      //- each year in eventsYearRangeReverse
        //- a.pastEvents(data-year='#{year}' href='#eventSpan-'+year) #{year}
    
  section#listen
    .sidebar
      .socialButtons
        a(href='https://open.spotify.com/artist/48L7jI4tb5zi989IWlLGCS')
          img(src='images/icon-spotify.png')
        a(href='https://itunes.apple.com/us/artist/brad-lubman/75054416')
          img(src='images/icon-applemusic.png')
    h2.sectionName Recordings
    .albums
      .album
        img(src='https://images.contentful.com/iyieuwr67lde/3WJ2I4NNDOU02sS6eOU8mq/d09227374ea00c753d70edd7b066594e/album_1.png')
        .albumLinks
          a(href='https://open.spotify.com/album/3lNs2UnRog90lU3dusjkWK') Spotify
          a(href='https://itunes.apple.com/us/album/steve-reich-music-for-18-musicians/id984732844') iTunes
          a(href='https://www.amazon.com/Reich-Music-Musicians-Ensemble-Signal/dp/B00TGKEE7U') Amazon
      .album
        img(src='https://images.contentful.com/iyieuwr67lde/329SUV7fQIQuQi8wemq6Qc/a889fb73686f0a1e89b793f9b0e2d1d7/album_2.png')
        .albumLinks
          a(href='https://open.spotify.com/album/6PFIrIakDXgc5rdM1qomrG') Spotify
          a(href='https://itunes.apple.com/us/album/steve-reich-double-sextet/id1122414906') iTunes
          a(href='https://www.amazon.com/Steve-Reich-Double-Sextet-Rewrite/dp/B01H2DDIXI') Amazon
      .album
        img(src='https://images.contentful.com/iyieuwr67lde/32zvOsYLKwYCSUIgCuWGwO/64e17e9e985f95ca7c081e9c70950a2a/album_4.png')
        .albumLinks
          a(href='https://open.spotify.com/album/0LQdylgu5ntsJWgqGcZ2Um') Spotify
          a(href='https://itunes.apple.com/us/album/shelter/id624700007') iTunes
          a(href='https://www.amazon.com/Shelter-Deborah-Artman/dp/B00B5UBGRU') Amazon
      .album
        img(src='https://images.contentful.com/iyieuwr67lde/po9bwBr5F6WkSa4SyAeYa/81ccb08a2fbca802ff646b695ac076ee/album_3.png')
        .albumLinks
          a(href='https://open.spotify.com/album/00PawEReF4TKtf2UzgIG2w') Spotify
          a(href='https://itunes.apple.com/us/album/zwei-gefuhle-and-solo-works/id583487372') iTunes
          a(href='https://www.amazon.com/Gef%C3%BChle-Ensemble-Signal-Lubman-Lachenmann/dp/B00AGRCQ18') CD
          a(href='https://www.amazon.com/Chamber-Works-Lachenmann/dp/B009PLMATY') DVD
      .album
        img(src='https://images.ctfassets.net/8730t1z03k68/3dAosFp4py82g6oY884QUm/828dc8a2dfefd9e9cc7b3b8fe1a75d56/album-01.jpg')
        .albumLinks
          a(href='https://open.spotify.com/album/1I4b3HmE4n72jMFrCFzzDo') Spotify
          a(href='https://itunes.apple.com/us/album/reich-music-for-18-musicians/204090090') iTunes
          a(href='https://www.amazon.com/Reich-Music-18-Musicians-1999-03-08/dp/B01KBHL1R2/') Amazon
      .album
        img(src='https://images.ctfassets.net/8730t1z03k68/4DkCIKMnbaC8eGiWe6EUoW/c09315bf714522757e1870a0f2d52dbf/album-02.jpg')
        .albumLinks
          a(href='https://open.spotify.com/album/30tT4l6VI62lLLwolD8qWp') Spotify
          a(href='https://geo.itunes.apple.com/us/album/three-tales/79577346') iTunes
          a(href='https://www.amazon.com/Three-Tales-Steve-Reich/dp/B00122FZY6') Amazon
      .album
        img(src='https://images.ctfassets.net/8730t1z03k68/2TesuMY0rYeUCC6e2yYK6C/cd8e9ac7e3cae6aca1b148a71a14c17c/album-03.jpg')
        .albumLinks
          a(href='https://open.spotify.com/album/2IlnFcjnUXh389cLifPNLQ') Spotify
          a(href='https://itunes.apple.com/us/album/cruel-sister/421261932') iTunes
          a(href='https://www.amazon.com/Cruel-Sister-Julia-Wolfe/dp/B005LCZQVU') Amazon
      .album
        img(src='https://images.ctfassets.net/8730t1z03k68/5JLtPLJMpUq6scCCK8Ks4W/1d42eae262af9076c374263dfa7a9351/album-04.jpg?h=250')
        .albumLinks
          a(href='https://open.spotify.com/album/7ip0hdAekWwWpwvIbVC519') Spotify
          a(href='https://itunes.apple.com/us/album/steve-reich-city-life-8-lines/344606143') iTunes
          a(href='https://www.amazon.com/Steve-Reich-City-Life-Lines/dp/B0013DDNLQ/') Amazon
      .album
        img(src='https://images.ctfassets.net/8730t1z03k68/5sG6VicwJGGGuyaa0wi2Go/296a32261560243f3b6dc2ed1143a138/album-05.jpg')
        .albumLinks
          a(href='https://open.spotify.com/album/33COU5v03nCxCMZIWzklCi') Spotify
          a(href='https://itunes.apple.com/us/album/reich-new-york-counterpoint-eight-lines-four-organs/209275034') iTunes
          a(href='https://www.amazon.com/York-Counterpoint-Eight-Lines-Organs/dp/B0011ZVRVY') Amazon
      .album
        img(src='https://images.ctfassets.net/8730t1z03k68/53Qyw1yGMweUScQGoeSMEq/bceea2ca1416da050b76437c3939eebf/album-06.jpg')
        .albumLinks
          a(href='https://open.spotify.com/album/5o0VPE595Y3opesIYfQOK2') Spotify
          a(href='https://itunes.apple.com/us/album/insomniac/1189671721') iTunes
          a(href='https://www.amazon.com/Insomniac-Brad-Lubman/dp/B000B5UNII') Amazon
      .album
        img(src='https://images.ctfassets.net/8730t1z03k68/67tIAcm2B2w6GAYgkY22c/f77f1f7dd9f7aabb1be2dba6889a5147/album-07.jpg')
        .albumLinks
          a(href='https://open.spotify.com/album/2rA5SyoB9ZeJzsyxfFvxLY') Spotify
          a(href='https://itunes.apple.com/us/album/steve-reich-city-life-proverb-nagoya-marimba/79577129') iTunes
          a(href='https://www.amazon.com/Proverb-Nagoya-Marimba-City-Life/dp/B00122L0BS') Amazon
      .album
        img(src='https://images.ctfassets.net/8730t1z03k68/2rmWNg9K12wqEgqg0KEYeE/70bb6c926111ce0d0f3fc7f309f63677/album-08.jpg')
        .albumLinks
          a(href='https://open.spotify.com/album/0bdb7AOy2ssnvasUn0KSoq') Spotify
          a(href='https://itunes.apple.com/us/album/lachenmann-concertini-kontrakadenz/1328606602') iTunes
          a(href='https://www.amazon.com/Concertini-Kontrakadenz-H-LACHENMANN/dp/B0030C12Y8') Amazon
      .album
        img(src='https://images.ctfassets.net/8730t1z03k68/3o5LTFYrvagmwY8SSGsYuC/1ba3ec86b6d676d7c01f1f582bffac00/album-09.jpg')
        .albumLinks
          a(href='https://open.spotify.com/album/3lYsh4qClbMId2KtI7lIFQ') Spotify
          a(href='https://itunes.apple.com/us/album/czernowin-the-quiet-works-for-orchestra-ep/1138721325') iTunes
          a(href='https://www.amazon.com/Czernowin-Quiet-Works-Orchestra-Chaya/dp/B01LZXRHKH') Amazon
      .album
        img(src='https://images.contentful.com/iyieuwr67lde/26zuG4GUQ4q8cWGgAyCAMa/fa5a13fc2a58c8d1237518b3a3a84fa1/album_5.png')
        .albumLinks
          a(href='https://www.amazon.com/Senales-IRVINE-ENSEMBLE-RECHERCHE-ARDITTI/dp/B01EMCBHJO') Amazon
      .album
        img(src='https://images.ctfassets.net/8730t1z03k68/6K8WNKjtjGYYSgIUQuYA0s/8f7ff4efdddc9cb414b57a9e86f6fb6a/album-10.jpg')
        .albumLinks
          a(href='https://open.spotify.com/album/5R4L9zI8Xdf0IrUA5WIHBd') Spotify
          a(href='https://itunes.apple.com/us/album/concerti-iii-poulenc-mcphee-adams/1206004673') iTunes
          a(href='https://www.amazon.com/Concerti-III-Poulenc-McPhee-Adams/dp/B06X6HPDYF') Amazon
      .album
        img(src='https://images.contentful.com/iyieuwr67lde/1uOQwNf9neQqkugGmWKucq/a52d407cb1ea01b0b101ae136edfc2fe/album_6.png')
        .albumLinks
          a(href='https://open.spotify.com/album/2r1MVm23ht87xNMGz6Rrsp') Spotify
          a(href='https://itunes.apple.com/us/album/active-field-ep/id1084972234') iTunes
          a(href='https://www.amazon.com/Active-Ensemble-Signal-Lubman-Tristan/dp/B01GL0WADW') Amazon
      .album
        img(src='https://images.ctfassets.net/8730t1z03k68/35Gm17ZSmAOQe0wA62UykI/8d235dfc87f69eb73c0566cc3ee9546e/album-11.jpg')
        .albumLinks
          a(href='https://open.spotify.com/album/5HYBZLvi3zAMxsgIpHmdXU') Spotify
          a(href='https://itunes.apple.com/us/album/mauricio-sotelo-wall-of-light-music-for-sean-scully/1115260105') iTunes
          a(href='https://www.amazon.com/Mauricio-Sotelo-Light-Music-Scully/dp/B01FV11SK8') Amazon
      .album
        img(src='https://images.ctfassets.net/8730t1z03k68/1Xg8K7LKTWS6wK0u4as4EM/9aba8cdbd4072cea4bb20b4086b9286c/album-12.jpg')
        .albumLinks
          a(href='https://open.spotify.com/album/5DX8weQFcWFzYR5DFPD3RG') Spotify
          a(href='https://itunes.apple.com/us/album/feldman-vol-11-orchestra/1403423047') iTunes
          a(href='https://www.amazon.com/Feldman-Orchestra-Morton/dp/B005IY3B18') Amazon
      .album
        img(src='https://images.contentful.com/iyieuwr67lde/4Ukf68pmPSUw6GMw44AYwm/a65f4087ce85f9a7816a0b4c44fd7d01/album_7.png')
        .albumLinks
          a(href='https://itunes.apple.com/us/album/philip-glass-glassworks-live/id413340624') iTunes
          a(href='https://www.amazon.com/Live-at-Poisson-Rouge-Signal/dp/B004I3RR7O') Amazon
      .album
        img(src='https://images.contentful.com/iyieuwr67lde/1GF3oMJ7dqGgCIiiUgQ0gy/becc0439b2eefcc8aa6127e51b387f36/album_8.png')
        .albumLinks
          a(href='https://open.spotify.com/album/49xHTKjIfDahbCEPNVBZ3M') Spotify
          a(href='https://itunes.apple.com/us/album/snider-penelope/id394498713') iTunes
          a(href='https://www.amazon.com/Penelope-Sarah-Kirkland-Snider/dp/B0040Y7F50') Amazon
      .album
        img(src='https://images.ctfassets.net/8730t1z03k68/SN3l17THA2G2W2Gq6GWm4/4918cd795c10598afc33ac68de19dd78/BHM-Lachenmann-2.jpg')
        .albumLinks
          a(href='https://www.breitkopf.com/work/20067/17042') DVD
      .album
        img(src='https://images.ctfassets.net/8730t1z03k68/1mntaX3Rx2qmmWYOAo4umG/bff92ce47939cf433512343bc7fb3798/BHM-Lachenmann-3.jpg')
        .albumLinks
          a(href='https://www.breitkopf.com/work/20067/17043') DVD
      .album
        img(src='https://images.ctfassets.net/8730t1z03k68/15IdkFEt2OyyuS8oy8aA0m/816941519461d0c253ea5a7c43483aaa/Noturrno.jpg')
        .albumLinks
          a(href='https://open.spotify.com/album/3OIIA3msVtyiGc2f3uib2h') Spotify
          a(href='https://itunes.apple.com/us/album/donald-martino-noturrno/157266448') iTunes
          a(href='https://www.amazon.com/Notturno-Donald-Martino/dp/B01GUGB9HK') Amazon
  
  section#video
    h2.sectionName Video
    .videos
      iframe(width='475' height='273' frameborder='0' allowfullscreen src='https://www.youtube.com/embed/sALVUTtYcqo?rel=0')
      iframe(width='475' height='273' frameborder='0' allowfullscreen src='https://www.youtube.com/embed/kh3_erAHToE?rel=0')
      iframe(width='475' height='273' frameborder='0' allowfullscreen src='https://www.youtube.com/embed/yyUBZ5B0FUA?rel=0')
      iframe(width='475' height='273' frameborder='0' allowfullscreen src='https://www.youtube.com/embed/dtQEqX836lg?rel=0')
      iframe(width='475' height='273' frameborder='0' allowfullscreen src='https://www.youtube.com/embed/OaevbdI2BXQ?rel=0')
      iframe(width='475' height='273' frameborder='0' allowfullscreen src='https://www.youtube.com/embed/m3lqmwHY180?rel=0')
      iframe(width='475' height='273' frameborder='0' allowfullscreen src='https://www.youtube.com/embed/eyGBNfnpMTE?rel=0')
      iframe(width='475' height='273' frameborder='0' allowfullscreen src='https://www.youtube.com/embed/6Fta0b4yvp0?rel=0')
      iframe(width='475' height='273' frameborder='0' allowfullscreen src='https://player.vimeo.com/video/290694658?color=ffffff&byline=0&portrait=0')
      iframe(width='475' height='273' frameborder='0' allowfullscreen src='https://www.youtube.com/embed/40_ddTj_okE?rel=0')
      iframe(width='475' height='273' frameborder='0' allowfullscreen src='https://player.vimeo.com/video/63062677?color=ffffff&byline=0&portrait=0')
      iframe(width='475' height='273' frameborder='0' allowfullscreen src='https://www.youtube.com/embed/dCEAof8adKk?rel=0')
      
  section#gallery
    h2.sectionName Photos
    .galleryWindow
      .galleryContainer
        img(src='https://images.ctfassets.net/8730t1z03k68/6guItOtIxaAycqyoKC4ks2/2cdb4180a411e8ac90fa0d6f61e0bd8e/1-portrait-peterserling.jpg')
        img(src='https://images.ctfassets.net/8730t1z03k68/6DjjwbSGk0c2kKCYWyQcK2/beb9273f6f09564ba4753ea3a9dd435b/2-portrait-peterserling.jpg')
        img(src='https://images.ctfassets.net/8730t1z03k68/3M8nb1MWSIMM8I2MeQOs00/7d61a0f2e6b03f6055d73b5d540b7b37/3-portrait-peterserling.jpg')
    figcaption Photos by Peter Serling
